html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@font-face {
    font-family: 'gerstner';
    src: url('GerstnerProgrammFSL-Light.eot');
    src: url('GerstnerProgrammFSL-Light.eot?#iefix') format('embedded-opentype'),
        url('GerstnerProgrammFSL-Light.woff2') format('woff2'),
        url('GerstnerProgrammFSL-Light.woff') format('woff'),
        url('GerstnerProgrammFSL-Light.svg#GerstnerProgrammFSL-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'gerstner';
    src: url('GerstnerProgrammFSL-Medium.eot');
    src: url('GerstnerProgrammFSL-Medium.eot?#iefix') format('embedded-opentype'),
        url('GerstnerProgrammFSL-Medium.woff2') format('woff2'),
        url('GerstnerProgrammFSL-Medium.woff') format('woff'),
        url('GerstnerProgrammFSL-Medium.svg#GerstnerProgrammFSL-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'gerstner';
    src: url('GerstnerProgrammFSL-MedIta.eot');
    src: url('GerstnerProgrammFSL-MedIta.eot?#iefix') format('embedded-opentype'),
        url('GerstnerProgrammFSL-MedIta.woff2') format('woff2'),
        url('GerstnerProgrammFSL-MedIta.woff') format('woff'),
        url('GerstnerProgrammFSL-MedIta.svg#GerstnerProgrammFSL-MedIta') format('svg');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'gerstner';
    src: url('GerstnerProgrammFSL-Bold.eot');
    src: url('GerstnerProgrammFSL-Bold.eot?#iefix') format('embedded-opentype'),
        url('GerstnerProgrammFSL-Bold.woff2') format('woff2'),
        url('GerstnerProgrammFSL-Bold.woff') format('woff'),
        url('GerstnerProgrammFSL-Bold.svg#GerstnerProgrammFSL-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'gerstner';
    src: url('GerstnerProgrammFSL-BoldIta.eot');
    src: url('GerstnerProgrammFSL-BoldIta.eot?#iefix') format('embedded-opentype'),
        url('GerstnerProgrammFSL-BoldIta.woff2') format('woff2'),
        url('GerstnerProgrammFSL-BoldIta.woff') format('woff'),
        url('GerstnerProgrammFSL-BoldIta.svg#GerstnerProgrammFSL-BoldIta') format('svg');
    font-weight: bold;
    font-style: italic;
}

body {
    font-family: 'gerstner', 'helvetica';
    font-weight: 300;
    font-style: normal;
    font: 24;
    line-height:1;
    color: #1b1b1b;
    background-color: #EFF0E8;
}

section.introduction {
    width: 640px;
    position: relative;
    left: 76px; 
    top: 72px;
}

span{
    font-weight: 500;
}

a {
    text-decoration: none;
    font-weight: 500;
    color: #1b1b1b;
}

a:hover{
    font-style: italic;
}

